
node_modules/
bower_components/
app/bower_components
.DS_Store
.tmp
.yo-rc.json
.jshintrc
.gitattributes
.editorconfig
.babelrc
npm-debug.log
.idea/
coverage
jest_0
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
